<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Module - 3 Solution</title>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
  </style>
</head>
<body ng-app="MyApp">
<div class="container" ng-controller="SearchController as search">
  <h5>shopping List</h5>
  <div class="row col-md-12">
    <div class="col-md-4">
      <form class="form-group">
        <div class="row">
          <label for="item">Menu item descriptions:</label>
          <input type="text" class="form-control" ng-model="itemName">
          <span ng-show="!itemName">Nothing found (Enter some item name).</span>
        </div>
        <div class="row">
          <button class="btn btn-outline-danger mt-4 form-control" ng-click="search.searchItem(itemName)">Narrow It Down For Me!</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row col-md-12">
    <table class="table table-hover table-bordered table-success">
      <tr>
        <th>S.No</th>
        <th>Shortname</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <tr ng-repeat="item in search.filteredItemList">
        <th scope="row">{{$index + 1}}</th>
        <td>{{item.short_name}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td><button class="btn btn-warning" ng-click="search.removeItem($index)">Dont't want this one!</button></td>
      </tr>
      <span ng-show="search.filteredItemList.length === 0">Nothing found!</span>
    </table>
    
  </div>
</div>
</body>
</html>
